# MinIO server listen address and port
MINIO_ADDRESS=":{{ MINIO_PORT }}"

# MinIO server volumes
MINIO_VOLUMES="{{ MINIO_VOLUMES }}"

# MinIO server options
MINIO_OPTS="{{ MINIO_OPTS }}"

# MinIO root user and password
MINIO_ROOT_USER="{{ MINIO_ROOT_USER }}"
MINIO_ROOT_PASSWORD="{{ MINIO_ROOT_PASSWORD }}"

# MinIO server URL
MINIO_SERVER_URL="{{ MINIO_SERVER_URL }}"

# MinIO browser redirect URL
MINIO_BROWSER_REDIRECT_URL="{{ MINIO_BROWSER_REDIRECT_URL }}"